@import url("https://rsms.me/inter/inter.css");

:root {
    --offwhite: #fdfbfb;
    /* --red: #ef233c; */
    --red: #F14F63;
    --grey: #8d99ae;
    --offblack: #141522;
    --transblack: #141522cc;
    font-family: 'Inter', sans-serif;
}

.red-text {
    color: var(--red) !important;
    text-decoration-color: var(--red);
}

/* main header bar */
nav {
    background-color: var(--offwhite);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 96px;
    overflow: visible;
    display: flex;
    justify-content: flex-end;
    z-index: 10;
}

/* header bar hover stuff */
nav a.headlink, nav a.headlink svg {
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

/* logo in header bar */
.headlogo {
    display: block;
    position: absolute;
    visibility: hidden;
    height: 52px;
    width: auto;
    color: var(--offblack);
    /* transition: color 0.15s ease-in-out; */
}

.headlogo.logo-active {
    visibility: visible !important;
    opacity: 1;
	transition: visibility 0.2s ease, opacity 0.2s ease, color 0.15s ease-in-out;
}

.headlogo:not(.logo-active) {
    visibility: hidden;
    opacity: 0;
	transition: visibility 0.35s ease, opacity 0.35s ease, color 0.15s ease-in-out;
}

/* icons in header bar*/
.headicon {
    width: auto;
    height: 13px;
    object-fit: contain;
    color: var(--offblack);
}

/* the link in header bar that's only the logo (nested)*/
.logolink {
    display: block;
    width: 40px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

/* the div surrounding the header logo link*/
.headlink.headleft {
    padding-top: 18px;
    padding-bottom: 20px;
    margin-right: auto;
}

/* the links with words in the header bar */
.headlink {
    display: block;
    text-align: center;
    width: 152px;
    /* min-width: 192px; */
    text-decoration: none !important;
    filter: none !important;
    font-size: 18px;
    font-weight: 500;
    color: var(--offblack);
    padding-top: 34px;
    padding-bottom: 33px;
}

/* subpage header bar */
.sub-navbar {
    background-color: var(--red);
}

.sub-navbar .headlogo, .sub-navbar .headicon, .sub-navbar .headlink {
    color: var(--offwhite);
}

.sub-navbar .headlogo {
    visibility: visible !important;
    opacity: 1;
	transition: color 0.15s ease-in-out;
}

/* text styling */
h1 {
    color: var(--offblack);
    font-size: min(144px, 10vw);
    font-weight: 500;
    text-align: center;
    margin: 0;
}

h2 {
    font-size: 56px;
    font-weight: 500;
    text-align: center;
    margin: 0;
}

.subpage-header {
    padding-bottom: 48px !important;
}

.subpage-header h2 {
    white-space: nowrap;
}

h3 {
    font-size: 28px;
    font-weight: 400;
    text-align: left;
    margin: 0;
    transition: color 0.15s ease-in-out;
}

p {
    /* text-align: justify; */
    margin: 0;
    transition: color 0.15s ease-in-out;
}

/* .justify-para {
    text-align: justify;
} */

li, p {
    font-size: 17px;
    line-height: 1.36;
    font-weight: 300;
}

.card-header {
    color: var(--red);
    transition: color 0.15s ease-in-out;
    font-size: 16px !important;
}

.paragraph {
    color: var(--offblack);
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.main-subtitle {
    color: var(--offblack);
    font-size: min(64px, 4.44vw);
    font-weight: 400;
    text-align: center;
    margin: 0;
    padding-bottom: max(10vh, 80px);
}

/* body styling */
body {
    background-color: var(--offwhite);
    margin: 0;
    padding: 0;
}

/* the outer wrapper of the main page */
#main {
    flex-direction: column;
    display: flex;
    gap: 0px;
}

/* wrapper for h2 (triangle icon and then text) */
.section-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    padding-bottom: 30px;
    flex-wrap: wrap;
}

.section-tri {
    height: 44px;
    width: auto;
}

/* change the colour of section headers */
.header-white {
    color: var(--offwhite);
}

.header-black {
    color: var(--offblack);
}

.header-black svg {
    color: var(--red);
}

/* divider pattern */
.divider-pattern {
    background-image: url("img/site/home_divider_pattern_repeating_lines.svg");
}

.footer-pattern {
    background-image: url("img/site/home_footer_pattern_repeating_edit.svg");
}

.divider-pattern, .footer-pattern {
    background-repeat: repeat-x;
    background-size: auto max(35vh, 280px);
    background-position: center bottom;
}

/* stuff for fader; from here: https://christopheraue.net/design/fading-pages-on-load-and-unload */
/* #fader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 6;
	pointer-events: none;
	background: var(--offwhite);
	animation-duration: 300ms;
	animation-timing-function: ease-in-out;
}

#fader:before {
	content: 'fade';
}

@keyframes fade-out {
	from {opacity: 1}
	to {opacity: 0}
}

@keyframes fade-in {
	from {opacity: 0}
	to {opacity: 1}
}

#fader.fade-out {
	opacity: 0;
	animation-name: fade-out;
}

#fader.fade-in {
	opacity: 1;
	animation-name: fade-in;
} */

/* page section stuff */
#home-data, #about-data, #contact-data {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home-data {
    gap: min(24px, 1.66vw);
    visibility: visible;
}

#home-data, #about-data, #contact-data {
    min-height: 800px;
}

.about-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: min(56px, 5%);
    width: max(900px, min(58%, 1111px));
    padding-bottom: max(10vh, 80px);
}

.about-pic {
    width: 30%;
    height: auto;
    border-radius: 20px;
}

/* top splash styling */
.top-splash {
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
    overflow: hidden;
    position: absolute;
    margin-top: -560px;
    z-index: -1;
}

/* card column styling */
.card-column {
    display: flex;
    flex-direction: row;
    width: min(1444px, 97%);
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-bottom: 214px;
    margin: auto;
}

.card-base {
    display: flex;
    width: 440px;
    gap: 32px;
    flex-direction: column;
    justify-content: flex-start;
    align-self: stretch;
    align-items: center;
    background-color: var(--offwhite);
    padding-top: 48px;
    padding-bottom: 48px;
    transition: background-color 0.15s ease-in-out;
    position: relative;
    border-radius: 16px;
    /* border-radius: 20px; */
    /* margin: 12px; */
}

#contact-data .card-column {
    margin-top: 0;
    margin-bottom: 0;
}

.card-base.contact-card {
    width: 196px;
    padding-top: 23px;
    padding-bottom: 23px;
    gap: 16px;
}

.contact-card h3 {
    font-size: 18px;
}

.card-column a {
    display: flex;
    align-self: stretch;
    text-decoration: none;
    color: var(--offblack);
    margin: 12px;
}

.border::before {
    border-radius: 16px;
    box-shadow: inset 0px 0px 0px 3px var(--offblack);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    z-index: 5;
    content: " ";
}

.dropshadow::before {
    border-radius: 16px;
    /* box-shadow: inset 0px 0px 0px 3px var(--offblack); */
    box-shadow: -2px 2px 12px 0px var(--grey);
    mix-blend-mode: multiply;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    z-index: 5;
    content: " ";
}

.card-pic {
    width: 320px;
    height: 320px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -22px 22px 0px 0px var(--red);
    margin: 0px 0px 22px 22px;
    transition: box-shadow 0.15s ease-in-out;
    background-color: var(--offblack);
    position: relative;
    border-radius: 16px;
}

.card-pic img {
    flex-shrink: 1;
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    border-radius: 18px;
}

.card-text {
    /* width: max(416px, min(46.25%, 592px)); */
    width: 340px;
    height: auto;
}

.card-text h3 {
    font-size: 24px;
}

.card-text p {
    font-size: 14px;
}

#portfolio-data, #adventures-data {
    padding-top: 128px;
    overflow-x: hidden;
}

#portfolio-data {
    visibility: visible;
}

#adventures-data {
    background-image: url("img/site/home_splash_2_full.svg");
    background-position: center bottom;
    background-repeat: no-repeat;
}

#about-data, #contact-data {
    align-items: center;
}

#contact-data {
    position: relative;
    overflow: hidden;
    /* height: fit-content; */
}

.contact-pic {
    width: 150px;
    height: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.contact-pic img {
    flex-shrink: 1;
    object-fit: cover;
    width: 75%;
    height: 75%;
    /* transition: filter 0.15s ease-in-out; */
    filter: brightness(0%) saturate(100%) invert(49%) sepia(46%) saturate(2819%) hue-rotate(319deg) brightness(92%) contrast(106%);
    /* min-width: 100%; */
    /* min-height: 100%; */
}

.contact-hover {
    position: absolute;
    filter: brightness(0%) saturate(100%) invert(100%) !important;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
}

.contact-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    text-decoration: none;
    color: var(--offblack);
    align-items: center;
}

.contact-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
    margin: 0 auto;
    /* padding-bottom: min(24vh, 80px); */
    padding-bottom: 180px;
}

.contact-icon {
    height: 30px;
    width: auto;
}

.footer-splash {
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
    position: absolute;
    bottom: -940px;
    pointer-events: none;
}

/* subpage stuff */
.subpage {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 120px;
    /* padding-bottom: 16.25vw;
    background-image: url("img/site/subpage_footer_pattern.svg");
    background-repeat: no-repeat;
    background-size: 100%; */
    /*COULDNT FIGURE THIS OUT YET*/
    padding-bottom: 156px;
    background-image: url("img/site/subpage_footer_pattern_repeating.svg");
    background-repeat: repeat-x;
    background-size: 1200px;
    /* padding-bottom: min(16.25vw, 312px);
    background-image: url("img/site/subpage_footer_pattern_repeating.svg");
    background-repeat: repeat-x;
    background-size: auto 280px; */
    background-position: center bottom;
}

.subpage-splash {
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
    overflow: hidden;
    position: absolute;
    margin-top: -500px;
    z-index: -1;
}

.banner-pic {
    width: 900px;
    aspect-ratio: 900 / 360;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--offblack);
    margin-bottom: 40px;
    position: relative;
    border-radius: 16px;
}

.banner-pic img {
    flex-shrink: 1;
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    background-color: var(--offblack);
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

.project-details {
    width: 900px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-bottom: min(3.33vw, 32px);
}

.tools-skills {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.subpage-text, ul {
    color: var(--offblack);
    font-size: 20px;
}

ul {
    margin: 0;
}

.sub-block {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    gap: 16px;
}

.rowgroup {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    gap: 16px;
}

.row img {
    flex-grow: calc(var(--r));
    display: block;
    flex-basis: 0px;
    width: 0px;
    height: auto;
    cursor: pointer;
    transition: opacity 0.15s ease-in-out;
}

.row iframe, .row video {
    flex-grow: calc(var(--r));
    display: block;
    flex-basis: 0px;
    width: 0px;
    height: auto;
    aspect-ratio: calc(var(--r));
}

.picgrid-hue {
    display: grid;
    overflow: hidden;
    grid-template-columns: 25% 25% 25% 25%;
}

.picgrid-ba {
    display: grid;
    overflow: hidden;
    grid-template-columns: 50% 50%;
}

.picgrid-hue img, .picgrid-ba img {
    width: 100%;
    cursor: pointer;
    transition: opacity 0.15s ease-in-out;
}

.picgrid-hue img:nth-last-child(2), .picgrid-hue img:last-child {
    grid-column: span 2;
}

.modal {
    display: none;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: var(--transblack);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.modal-content {
    max-width: 90%;
    max-height: 90%;
    animation-name: zoom;
    animation-duration: 0.2s;
    cursor: default;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

.divider {
    display: block;
    width: 8px;
    height: auto;
    background-color: var(--red);
    flex-shrink: 0;
}

.round-corners {
    border-radius: 8px;
}

.bullet-list .subpage-text{
    color: var(--red);
}

.left-bar {
    border-left: 8px solid var(--red);
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.left-bar div {
    margin-left: 16px;
}

.goal {
    background-color: var(--red);
    padding: 28px 72px 28px 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}

.goal p {
    color: var(--offwhite);
    text-align: center;
}

/* for smaller screens */
@media only screen and (max-width: 960px) {
	nav {
        max-height: 10vw;
        /* width: 100vw; */
    }

    .headlink {
        width: 20vw;
        flex-shrink: 1;
        min-width: auto;
        font-size: 2.5vw;
        font-weight: 500;
        padding-top: 3.5vw;
        padding-bottom: 3.5vw;
    }

    .headlink.headleft {
        padding-top: 2.1vw;
        padding-bottom: 2.1vw;
    }

    .logolink {
        width: 5.625vw;
    }

    .headlogo {
        height: 5.83vw;
    }

    .headicon {
        height: 1.77vw;
    }

    .section-header {
        gap: 1.875vw;
        padding-bottom: max(3.125vw, 18px);
    }

    .subpage-header {
        padding-bottom: 5vw !important;
    }

    .section-tri {
        height: max(4.58vw, 13px);
        width: auto;
    }

    h2 {
        font-size: max(5.83vw, 20px) !important;
    }

    h3 {
        font-size: max(2.92vw, 14px);
    }

    .subpage-text, ul {
        font-size: max(2.08vw, 12px) !important;
    }

    .card-header {
        font-size: max(1.66vw, 12px) !important;
    }

    li, p {
        font-size: max(1.77vw, 12px);
    }

    .paragraph {
        gap: max(1.25vw, 9px);
    }

    .about-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5vw;
        width: 80vw;
    }

    .about-pic {
        width: 50vw;
        height: auto;
        border-radius: 2.08vw;
    }

    #about-data {
        height: fit-content;
    }

    #home-data, #about-data {
        min-height: fit-content;
    }

    #adventures-data {
        background-image: url("img/site/home_splash_2.svg");
        background-size: 100% auto;
    }

    .footer-pattern {
        background-size: auto 20vh;
    }

    .top-splash {
        margin-top: -30vw;
    }

    .top-splash img {
        height: 70vw;
    }

    .footer-splash {
        margin: 0;
    }

    /* #about-data {
        padding-top: 20vw;
    } */

    #about-data, #portfolio-data, #adventures-data {
        padding-top: 13.33vw;
    }

    #contact-data {
        /* padding-top: 13.33vw; */
        min-height: 41.67vw;
        /* height: 86vh; */
        height: fit-content;
    }

    #contact-data .card-column {
        width: 90vw;
    }

    .card-column {
        width: 100%;
        padding-bottom: 22.29vw;
    }

    .card-column a {
        margin-top: 0;
        margin-left: 6px;
        margin-right: 6px;
    }

    .card-base {
        width: 90vw;
        height: fit-content;
        gap: max(3vw, 16px);
        padding-top: 6.15vw;
        padding-bottom: 6.15vw;
        border-radius: 1.66vw;
        /* border-radius: 2.08vw; */
    }

    .card-base.contact-card {
        width: fit-content;
        padding: 2.39vw;
        gap: 1.66vw;
    }

    .contact-card h3 {
        font-size: max(1.875vw, 12px);
    }
    
    .card-pic {
        width: 75vw;
        height: 40vw;
        box-shadow: -2.29vw 2.29vw 0px 0px var(--red);
        margin: 0px 0px 2.29vw 2.29vw;
        border-radius: 1.66vw;
    }

    .card-pic img {
        border-radius: 2.08vw;
    }
    
    .card-text {
        width: 75vw;
        height: auto;
        gap: 1.5vw !important;
    }

    .card-text h3 {
        font-size: max(2.5vw, 16px);
    }
    
    .card-text p {
        font-size: max(1.458vw, 12px);
    }

    .dropshadow::before {
        border-radius: 1.66vw;
        box-shadow: -0.21vw 0.21vw 1.25vw 0px var(--grey);
        /* box-shadow: inset 0px 0px 0px max(0.21vw, 2px) var(--offblack); */
    }

    .border::before {
        border-radius: 1.66vw;
        box-shadow: inset 0px 0px 0px max(0.31vw, 2px) var(--offblack);
    }

    .contact-info {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        width: fit-content;
        gap: 2vw;
        /* margin: 0 0 40vw 0; */
        padding-bottom: 0;
    }

    .contact-pic {
        width: max(15.625vw, 125px);
        height: max(15.625vw, 125px);
    }

    .contact-icon {
        height: max(3.125vw, 13px);
    }

    .contact-link {
        gap: max(1.66vw, 6px);
        margin-left: 12px;
        margin-right: 12px;
    }

    .banner-pic {
        /* width: 93.75vw; */
        width: 90vw;
        margin-bottom: 4.1vw;
        border-radius: 1.66vw;
    }

    .banner-pic img {
        border-radius: 2.08vw;
    }

    .project-details {
        /* width: 93.75vw; */
        width: 90vw;
        gap: 3.33vw;
    }

    .left-bar {
        border-left: 0.83vw solid var(--red);
        gap: max(1.6vw, 8px);
        width: 100% !important;
    }
    
    .left-bar div {
        margin-left: 1.6vw;
    }

    .row {
        gap: 1.6vw;
    }

    .rowgroup {
        gap: 1.6vw;
    }

    .row-text {
        flex-direction: column !important;
    }

    .round-corners {
        border-radius: 0.83vw;
    }

    .divider {
        width: 0.83vw;
    }

    .goal {
        padding: 2.9vw 7.5vw 2.9vw 7.5vw;
        border-radius: 1.6vw;
    }

    .sub-block {
        gap: 1.6vw;
    }

    .subpage {
        padding-top: 12.5vw;
        background-image: url("img/site/subpage_footer_pattern.svg");
        padding-bottom: 16.25vw;
        background-size: 100%;
    }

    .subpage-splash {
        width: 100%;
        height: fit-content;
        overflow: hidden;
        position: absolute;
        margin-top: -52vw;
    }

    .subpage-splash img {
        height: 100vw;
    }

    .tools-skills {
        gap: max(0.83vw, 2px);
    }
}

@media(hover: hover) and (pointer: fine) {
    nav a.headlink:hover {
        background-color: var(--red);
        color: var(--offwhite);
    }
    
    nav a.headlink:hover svg {
        color: var(--offwhite);
    }

    .headlogo:hover {
        color: var(--red);
    }

    .sub-navbar a.headlink:hover {
        background-color: var(--offwhite);
        color: var(--red);
    }
    
    .sub-navbar a.headlink:hover svg {
        color: var(--red);
    }
    
    .sub-navbar .headlogo:hover {
        color: var(--offblack);
    }

    .card-base:hover {
        background-color: var(--red);
    }
    
    .card-base:hover .card-pic {
        box-shadow: max(-2.29vw,-22px) min(2.29vw, 22px) 0px 0px var(--offblack);
    }
    
    .card-base:hover h3, .card-base:hover p, card-base:hover .card-header {
        color: var(--offwhite);
    }

    .card-base:hover .contact-hover {
        opacity: 1;
    }

    .contact-link:hover {
        color: var(--red);
    }

    .row img:hover, .picgrid-hue img:hover, .picgrid-ba img:hover {
        opacity: 0.8;
    }
}