@import url("https://rsms.me/inter/inter.css");

:root {
    --offwhite: #fdfbfb;
    --red: #ef233c;
    --grey: #8d99ae;
    --offblack: #141522;
    font-family: 'Inter', sans-serif;
}

.red-text {
    color: var(--red) !important;
    text-decoration-color: var(--red);
}

/* main header bar */
nav {
    background-color: var(--offwhite);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 96px;
    overflow: visible;
    display: flex;
    justify-content: flex-end;
}

/* header bar hover stuff */
nav a.headlink, nav a.headlink svg {
    transition: all 0.15s ease-in-out;
}

nav a.headlink:hover {
    background-color: var(--red);
    color: var(--offwhite);
}

nav a.headlink:hover svg {
    color: var(--offwhite);
}

/* logo in header bar */
.headlogo {
    display: block;
    height: 56px;
    width: auto;
    color: var(--offblack);
    transition: color 0.15s ease-in-out;
}

.headlogo:hover {
    color: var(--red);
}

/* icons in header bar*/
.headicon {
    width: auto;
    height: 17px;
    object-fit: contain;
    color: var(--offblack);
}

/* the link in header bar that's only the logo (nested)*/
.logolink {
    display: block;
    width: 54px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

/* the div surrounding the header logo link*/
.headlink.headleft {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: auto;
}

/* the links with words in the header bar */
.headlink {
    display: block;
    text-align: center;
    width: 192px;
    min-width: 192px;
    text-decoration: none !important;
    filter: none !important;
    font-size: 24px;
    font-weight: 500;
    color: var(--offblack);
    padding-top: 34px;
    padding-bottom: 33px;
}

/* text styling */
h1 {
    font-size: min(144px, 10vw);
    font-weight: 500;
    text-align: center;
    margin: 0;
}

h2 {
    font-size: 72px;
    font-weight: 500;
    text-align: center;
    margin: 0;
}

h3 {
    font-size: 36px;
    font-weight: 400;
    text-align: left;
    margin: 0;
    transition: color 0.15s ease;
}

p {
    font-size: 20px;
    line-height: 1.36;
    font-weight: 300;
    text-align: left;
    margin: 0;
    transition: color 0.15s ease;
}

.card-header {
    font-size: 24px;
    color: var(--red);
    transition: color 0.15s ease;
}

.paragraph {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.main-subtitle {
    font-size: min(64px, 4.44vw);
    font-weight: 400;
    text-align: center;
    margin: 0;
    padding-bottom: 10vh;
}

/* body styling */
body {
    background-color: var(--offwhite);
    margin: 0;
    padding: 0;
}

/* the outer wrapper of the main page */
#main {
    flex-direction: column;
    display: flex;
    gap: 0px;
}

/* wrapper for h2 (triangle icon and then text) */
.section-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding-bottom: 32px;
}

/* change the colour of section headers */
.header-white {
    color: var(--offwhite);
}

.header-black svg {
    color: var(--red);
}

/* the first section on the main page */
#home-data {
    height: 100vh;
    background-image: url("img/site/home_divider_pattern_repeating.svg");
    background-repeat: repeat-x;
    background-size: auto 35%;
    background-position: center bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: min(24px, 1.66vw);
}

/* the second section on the main page */
#about-data {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: min(56px, 5%);
    /*width: max(900px, 58%);*/
    width: max(900px, min(58%, 1111px));
    padding-bottom: 100px;
}

.about-pic {
    width: 30%;
    height: auto;
}

/* top splash styling */
.top-splash {
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
    overflow: clip;
    position: absolute;
    margin-top: -560px;
    z-index: -1;
}

/* card column styling */
.card-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 68px;
}

.card-base {
    display: flex;
    width: max(900px, min(80%, 1280px));
    gap: max(31px, min(3.5%, 120px));
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--offwhite);
    padding-top: 79px;
    padding-bottom: 79px;
    transition: background-color 0.15s ease-in-out;
}

.card-left {
    display: flex;
    flex-direction: row;
}

.card-right {
    display: flex;
    flex-direction: row-reverse;
}

.border {
    border-style: solid;
    border-width: 8px;
    border-color: var(--offblack);
    border-radius: 16px;
}

.card-pic {
    width: 320px;
    height: 320px;
    overflow: clip;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -22px 22px 0px 0px var(--red);
    margin: 0px 0px 22px 22px;
    transition: box-shadow 0.15s ease;
}

.card-pic img {
    flex-shrink: 1;
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
}

.card-text {
    width: max(416px, min(46.25%, 592px));
    height: auto;
}

/* card hover stuff */
.card-base:hover {
    background-color: var(--red);
}

.card-base:hover .card-pic {
    box-shadow: -22px 22px 0px 0px var(--offblack);
}

.card-base:hover h3 {
    color: var(--offwhite);
}

.card-base:hover p {
    color: var(--offwhite);
}

.card-base:hover .card-header {
    color: var(--offwhite);
}

/* the third section on the main page */
#portfolio-data {
    display: flex;
    flex-direction: column;
    padding-top: 150px;
}

/* the fourth section on the min page */
#adventures-data {
    padding-top: 150px;
}

/* the last section on the main page */
#contact-data {
    padding-top: 150px;
}

/* for smaller screens */
@media only screen and (max-width: 960px) {
	nav {
        max-height: 10vw;
        width: 100vw;
    }

    .headlink {
        width: 20vw;
        min-width: 20vw;
        font-size: 2.5vw;
        font-weight: 500;
        padding-top: 3.5vw;
        padding-bottom: 3.5vw;
    }

    .headlink.headleft {
        padding-top: 2.1vw;
        padding-bottom: 2.1vw;
    }

    .logolink {
        width: 5.625vw;
    }

    .headlogo {
        height: 5.83vw;
    }

    .headicon {
        height: 1.77vw;
    }

    .section-header {
        gap: 3vw;
        padding-bottom: 3.33vw;;
    }

    .section-tri {
        height: max(5.5vw, 13px);
        width: auto;
    }

    h2 {
        font-size: max(7.5vw, 18px);
    }

    h3 {
        font-size: max(3.75vw, 16px);
    }

    .card-header {
        font-size: max(2.5vw, 12px);
    }

    p {
        font-size: max(2vw, 12px);
    }

    .paragraph {
        gap: max(1.5vw, 9px);
    }

    .about-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5vw;
        width: 80vw;
        padding-bottom: 0;
    }

    .about-pic {
        width: 50vw;
        height: auto;
    }

    #about-data {
        height: fit-content;
        padding-top: 15.625vw;
        padding-bottom: 15.625vw;
    }

    .top-splash {
        margin-top: -30vw;
    }

    .top-splash img {
        height: 70vw;
    }

    #portfolio-data {
        padding-top: 15.625vw;
    }

    #adventures-data {
        padding-top: 15.625vw;
    }

    .card-column {
        gap: 5vw;
    }

    .card-base {
        width: 90vw;
        height: fit-content;
        gap: 3vw;
        padding-top: 8.2vw;
        padding-bottom: 8.2vw;
    }

    .card-base:hover .card-pic {
        box-shadow: -2.29vw 2.29vw 0px 0px var(--offblack);
    }

    .card-left {
        flex-direction: column;
    }

    .card-right {
        flex-direction: column;
    }
    
    .card-pic {
        width: 70vw;
        height: 70vw;
        box-shadow: -2.29vw 2.29vw 0px 0px var(--red);
        margin: 0px 0px 2.29vw 2.29vw;
    }
    
    .card-text {
        width: 70vw;
        height: auto;
    }

    .border {
        border-style: solid;
        border-width: 0.83vw;
        border-color: var(--offblack);
        border-radius: 1.66vw;
    }
}